/*
File: main.css
Author: John Prah
Class: CMSC495
Project: Team 6 Fairbanks Weather Project
Date: 04/25/2022

This file governs the styling of the project website
 */

body {
  background-color: #0C1F30;
  margin-top: 50px;
  margin-left: 100px;
  }

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  color: #eeeeee;
  align-content: center;
  text-align: center;
  }

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.0em;
  color: #eeeeee;
  align-content: center;
  text-align: center;
  }

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.0em;
  color: #eeeeee;
  align-content: center;
  text-align: center;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.0em;
  color: #eeeeee;
  }

header {
  text-align: center;
  align-content: center;
}

footer {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.6em;
  color: #eeeeee;
}

a:link {
  color: #00aa33;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.0em;
}

a:visited {
  color: #ffcc00;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.0em;
}